:root {
  --main-font-color: #304945;
  --font-primary: 'Lustria', serif;
  --font-heading: 'Bacasime Antique', serif;
  --font-accent: 'Bodoni Moda', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
  color: var(--main-font-color);
  background-image: url(../img/mainbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html,
body {
  height: 100%;
}

.sidebar {
  width: 250px;
  background-color: #c8c7b68c;
  /* background-color: #969b8ea1; */
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
}

.logo {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}

.nav a {
  display: block;
  font-family: var(--font-heading);
  color: var(--main-font-color);
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.nav a:hover {
  text-decoration: underline;
}

.nav-contact-info {
  font-family: var(--font-primary);
  font-size: 0.8rem;
  line-height: 1.4;
}

/* Tablets (481px - 955px) */
@media (max-width: 955px) and (min-width: 481px) {
  body {
    flex-direction: column;
    padding-right: 0;
  }

  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .main {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }

  .contact-section {
    flex-direction: column-reverse;
    padding: 1rem;
  }

  form {
    max-width: 100%;
    padding-top: 1rem;
  }

  .artwork-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/* Smartphones (1px - 480px) */
@media (max-width: 480px) {
  body {
    flex-direction: column;
    padding-right: 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .logo {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .nav a {
    margin: 5px 0;
    font-size: 1rem;
  }

  .main {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
  }

  .artwork-gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .contact-section {
    flex-direction: column-reverse;
    padding: 1rem;
  }

  .contact-description h2 {
    font-size: 1.25rem;
  }

  .contact-description ul {
    font-size: 1rem;
    padding-top: 0.5rem;
  }

  .contact-description li {
    padding-bottom: 1rem;
  }

  #contact-elements {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  .name-fields {
    flex-direction: column;
    gap: 0.5rem;
  }

  input[type="submit"] {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

/* dark theme 
@media (prefers-color-scheme: dark) {
  :root {
    --main-font-color: #e2e8f0;
    --bg-color: #121212;
    --sidebar-bg: #1e1e1e;
  }
}
  */